@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
/* Stolen from https://github.com/arcticicestudio/nord/blob/develop/src/nord.css */
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;  
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
    --black: #121212;
    --white: #D5D5D5;
    --red: #C12A2A;
    --orange: #D5682D;
    --yellow: #E0D532;
    --green: #2EB329;
    --greenblue: #17CA6E;
    --blue: #1F7AFF;
    --lightblue: #109EC2;
    --purple: #9529CB;
    --gray: #434343;
}

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 60em;
    background-color: var(--black);
    color: var(--white);
    font-family: 'Roboto', Arial, sans-serif;
    text-size-adjust: auto;
    -webkit-text-size-adjust: 150%;
}

code {
    font-family: "JetBrains Mono";
}

code.large {
    font-size: medium;
}

code.viewing {
    color: var(--greenblue)
}

h1 h2 {
    color: #FFFFFF;
}

p {
    font-size: medium;
}

img {
    max-width: 100%;
    max-height: 100%;
}

hr {
    margin: 0 0.6em;
    border-style: solid;
    border-width: 2px;
    color: var(--gray);
}

div {
    margin-bottom: 20px;
}

/* div classes */

.navbar {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 20px;
    color: var(--black);
    background-color: var(--white);
    border-radius: 10px;
    padding: 10px 10px 10px 50px;
    box-shadow: 0px 0px 15px var(--white); 
}

.title {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 20px;
    background-color: var(--blue);
    border-radius: 10px;
    padding: 10px 10px 10px 50px;
    box-shadow: 0px 0px 15px var(--blue); 
}

.normal {
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: var(--gray);
    border-radius: 10px;
    padding: 10px 50px 20px 50px;
    box-shadow: 0px 0px 15px var(--gray); 
}

.red {
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: var(--red);
    border-radius: 10px;
    padding: 10px 50px 20px 50px;
    box-shadow: 0px 0px 15px var(--red); 
}

.orange {
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: var(--orange);
    border-radius: 10px;
    padding: 10px 50px 20px 50px;
    box-shadow: 0px 0px 15px var(--orange); 
}

.yellow {
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: var(--yellow);
    border-radius: 10px;
    padding: 10px 50px 20px 50px;
    box-shadow: 0px 0px 15px var(--yellow); 
    color: var(--nord0);
}

.green {
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: var(--green);
    border-radius: 10px;
    padding: 10px 50px 20px 50px;
    box-shadow: 0px 0px 15px var(--green);
    color: var(--nord0);
}

.purple {
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: var(--purple);
    border-radius: 10px;
    padding: 10px 50px 20px 50px;
    box-shadow: 0px 0px 15px var(--purple); 
}

img.resurrection-sc {
    box-shadow: 0px 0px 15px black;
}

img.watcher-sc {
    box-shadow: 0px 0px 15px white;
    max-width: 30%;
    height: auto;
}

img.watcher-sc-2 {
    margin: 10px;
    box-shadow: 0px 0px 15px white;
    max-width: 30%;
    height: auto;
}

a:link {
  color: var(--blue);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--blue);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--lightblue);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: var(--greenblue);
  background-color: transparent;
  text-decoration: none;
}

.extra-padding {
    padding-left: 50px;
}

