{{ partial "head.html" . }}
<h1>My Projects</h1>
<hr>
{{ range .Data.Pages.ByTitle }}
<div class="list p-3 rounded-3">
<img src="/{{ .Params.icon }}">
<a href="{{.RelPermalink}}">{{.Title}}</a>
<p>{{ .Params.description }}</p>
{{ if .Params.current }}
<span>Started {{ .Date.Format "January 2, 2006" }}</span>
{{ else }}
<span>From {{ .Date.Format "January 2, 2006" }} to {{ .Params.enddate }}</span>
{{ end }}
</div>
{{ end }}
{{ partial "foot.html" . }}
