{{ partial "head.html" . }}
<img class="project-icon" src="/{{ .Params.icon }}">
<h1>{{$.Title}}</h1>
<h5>{{ .Description }}</h5>
{{ if .Params.wip }}
<span class="normal-span"><strong>WORK IN PROGRESS</strong><br></span>
{{ end }}
<span class="normal-span"><a href="{{ .Params.repo }}">Repository</a><br></span>
{{ if .Params.current }}
<span class="normal-span">Started on {{ .Date.Format "January 2, 2006" }}<br></span>
{{ else }}
<span class="normal-span">Started on {{ .Date.Format "January 2, 2006" }} and ended on {{ .Params.enddate }}<br></span>
{{ end }}
<span class="normal-span">Built with {{ .Params.languages }}<br></span>
<span class="normal-span">Free and Open Source under the {{ .Params.license }}<br></span>
<hr>
<div class="content">
{{.Content}}
</div>
{{ partial "foot.html" . }}
