</div>
<div class="col-lg-3 box rounded-3 sidebar d-none d-lg-block mb-0">
  <img class="pfp m-auto d-block mt-3 img-fluid img-circle" src="/bryson.png">
  <br>
  <span>Codeberg: <a href="https://codeberg.org/brysonsteck">@brysonsteck</a><br></span>
  <span>CGit: <a href="https://git.brysonsteck.xyz">git.brysonsteck.xyz</a><br></span>
  <span>Email: <a href="mailto:me@brysonsteck.xyz">me@brysonsteck.xyz</a><br></span>
  <span>PGP: <a href="/pgpkey.txt">A0858B7204DC5DDD</a><br></span>
</div>
</div>
</div>
<footer>Copyright &copy; 2022-2024, Bryson Steck<br>All content is available under <a href="/licenses#ca-by-sa-40">CC-BY-SA 4.0.</a> This website's code is available under the <a href="/licenses#bsd-2-clause-license">BSD 2-Clause License.</a></footer>
</body>
</html>
