<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#282828">
    <link
      rel="stylesheet"
      href="/bootstrap.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/style.css"
      type="text/css"
    />
    <script src="/time.js"></script>
    <title>{{ $.Title }} - Bryson Steck</title>
  </head>
  <body class="view px-3">
    <div class="container navbar">
      <span><a href="/" class="navbar-title">Bryson Steck</a> &nbsp;</span>
      <span class="split-navbar"><br></span>
      <ul class="nav">
        <li class="navbar-item"><a href="/projects">Projects</a></li>
        <li class="navbar-item"><a href="/about-me">About Me</a></li>
        <li class="navbar-item"><a href="/contact">Contact</a></li>
      </ul>
      <span class="time" id="time"></span>
    </div>
    <div class="container mt-3 p-0">
    <div class="row">
    <div class="col-lg-9">

