{{ partial "head.html" . }}
<h1>404: Page Not Found</h1>
<hr>
<p>Sorry dawg, I've got nothing for you here. How about you <a href="/">go back home</a> and enjoy the scenery?</p>
<p>...or are you even human? Shoo! You nasty little web crawlers!</p>
{{ partial "foot.html" . }}
