{{ partial "head.html" . }}
<h1>Welcome!</h1>
<hr>
<strong>Who are you?</strong> If it's not obvious, I don't know what to say.
<p></p>
<h2>Recent Projects</h2>
<hr>
{{ range first 3 (where (where .Site.RegularPages "Section" "projects") "Params.nohtml" "!=" "true") }}
<div class="list p-3 rounded-3">
<img src="/{{ .Params.icon }}">
<a href="{{.RelPermalink}}">{{.Title}}</a>
<p>{{ .Params.description }}</p>
{{ if .Params.current }}
<span>Started {{ .Date.Format "January 2, 2006" }}</span>
{{ else }}
<span>From {{ .Date.Format "January 2, 2006" }} to {{ .Params.enddate }}</span>
{{ end }}
</div>
{{ end }}
<a href="/blog" style="float: right;">View all -&gt;</a>
{{ partial "foot.html" . }}
