@font-face {
  font-family: Inter;
  src: url(/fonts/Inter-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: JetBrainsMono;
  src: url(/fonts/JetBrainsMono-Regular.ttf);
  font-weight: normal;
}

body {
  max-width: 1050px;
  margin: 0 auto;
  background-color: #282828;
  color: #ebdbb2;
  font-family: Inter;
}

code, pre {
  font-family: JetBrainsMono;
  color: #79740e;
}

ul, li, p {
  color: #a89984;
}

.project-icon {
  float: right;
  border-radius: 15px;
  margin-left: 10px;
  max-width: 13%;
}

.normal-span {
  color: #a89984;
}

a {
  color: #458588;
  font-style: underline;
}

a:visited {
  color: #b16286;
  font-style: underline;
}

a:hover {
  color: #83a598;
  font-style: underline;
}

.navbar {
  padding: 20px 0;
  font-size: 20px;
  display: block;
}

a.navbar-title {
  font-weight: 600;
  padding-right: 10px;
  padding-top: 2px;
  text-decoration: none;
  color: #ebdbb2;
}

a.navbar-title:hover {
  text-decoration: underline;
}

a:active {
  color: #fe8019;
}

.nav {
  display: inline;
  padding-left: 0;
  padding-bottom: 1px;
}

.navbar-item {
  font-size: 18px;
  padding-right: 10px;
  padding-bottom: 5px;
  list-style-type: none;
  display: inline;
}

.time {
  float: right;
  font-size: 17px;
  padding-top: 2px;
}

img.pfp {
  max-width: 40%;
  border-radius: 15px;
}

.box {
  background-color: #3c3836;
}

.list {
  background-color: #3c3836;
  margin-bottom: 8px;
  color: #a89984;
}

.list a {
  font-weight: bold;
  font-size: 18px;
}

.list img {
  float: right;
  border-radius: 15px;
  max-width: 12%;
}

.sidebar {
  max-width: inherit;
  min-height: 14rem;
  max-height: 14rem;
  font-size: 13px;
}

.content img {
  max-width: 100%;
  border-radius: 20px;
}

footer {
  text-align: center;
  padding: 30px 2rem;
  color: #7c6f64;
}

@media(max-width:768px) {
  .time {
    display: none;
  }
}

.split-navbar {
  display: none;
}

@media(max-width:502px) {
  .split-navbar {
    display: inline;
  }
}
